html, body {
  background: #000;
  color: white;
  font-size: 18px;
  line-height: 27px;
  font-family: sans-serif, times;
}

ul li {
  margin: 7px 0;
}

a {
  color: blue;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

section {
  padding: 15px;
  margin: 15px;
  border-bottom: thin solid #333333;
}

.heading {
  color: #fff;
  font-weight: bold;
}

#visualizer {
  display: table;
  margin: auto;
}

.disclaimer {
  font-size: 16px;
  font-style: italic;
  margin: 5px 0;
}

.legend {
  fill: #ff00ff;
  stroke: #ff00ff;
}

.timer {
  fill: #00ff7f;
  stroke: #00ff7f;
}

.highlight {
  background: black;
  color: #00ff7f;

  font-size: 18px;

  padding: 15px;
  margin: 15px;
  line-height: 28px;

  border: thin solid #333333;
}

.text-center {
  text-align: center;
}

#moon-viz {
  background: black;
  border: thin solid black;
}

#earth {
  fill: #000099;
}

#alternate-view {
  width: 350px; 
  height: 500px; 
  border: thin solid black;
  background: black;
}

.continent {
  fill: green;
  stroke: green;
  stroke-width: 3;
}

.x.axis path {
  display: none;
}

.bottom.earth {
  z-index: 1001;
}

.bottom.moon {
  z-index: 101;
}

.star {
  stroke-width: 1;
  fill: white;
  stroke: white;
}

.star.new {
    fill: blue;
    stroke: blue;
    stroke-width: 2;
}

.star.old {
    fill: tomato;
    stroke: tomato;
    stroke-width: 2;
}

.star.dim {
  fill: #505050;
  stroke: #505050;
}

.no-svg {
  background: red;
  color: white;
  text-align: center;
}

.glow {
  color: yellow;
}